@font-face {
   font-family: Transponder;
   src: url(Transponder.TTF);
}
div {
}

body{
  background-repeat: no-repeat;
  background-size:cover;
}

.main-div{
	margin-top:40px;
	background-color: rgba(34,67,56,0.5);
	width: 100px;
	height: 100px;
	padding: 180px;
  border-radius: 180px;
  font-family: Transponder;
	cursor:pointer;
	//border: 1px solid black;
}

#myCanvas{
				margin-top:-220px;
				margin-left:-220px;
				font-family: Transponder;
}

.sub-buttons-menu {
				font-size:25px;
				margin-top:40px;
}
.buttons-menu{
				margin-top:60px;
//margin-left:50px;
}
.button {
				width:50px;
				height:50px;
}

.button-title{
				font-size: 30px;
				font-family: Ariel;
				margin-top: 20px;
}

.button-time{
				font-size: 35px;
				font-family: Transponder;
				margin-left: 15px;
}
